catalyst-generator/src/main/resources/templates/usecase/soapconnector/resources/wsdl/celsiumToFahrenheit.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="Temperature"
  targetNamespace="http://intellecteu.com/services/convert"
  xmlns:tns="http://intellecteu.com/services/convert"
  xmlns:types="http://intellecteu.com/types/convert"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://intellecteu.com/types/convert"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
      attributeFormDefault="unqualified" version="1.0">

      <xsd:element name="celsiumTemperature">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="celsium" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="fahrenheitTemperature">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fahrenheit" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetFahrenheitByCelsiumRequest">
    <wsdl:part name="celsium" element="types:celsiumTemperature"/>
  </wsdl:message>

  <wsdl:message name="GetFahrenheitByCelsiumResponse">
    <wsdl:part name="fahrenheitTemperature" element="types:fahrenheitTemperature"/>
  </wsdl:message>

  <wsdl:portType name="CelsiumFahrenheit_PortType">
    <wsdl:operation name="convertCelsiumToFahrenheit">
      <wsdl:input message="tns:GetFahrenheitByCelsiumRequest"/>
      <wsdl:output message="tns:GetFahrenheitByCelsiumResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CelsiumFahrenheit_SoapBinding" type="tns:CelsiumFahrenheit_PortType">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="convertCelsiumToFahrenheit">
      <soap:operation
        soapAction="http://intellecteu.com/services/convert"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="CelsiumFahrenheit_Service">
    <wsdl:documentation>Temperature conversion service</wsdl:documentation>
    <wsdl:port name="Temperature_Port" binding="tns:CelsiumFahrenheit_SoapBinding">
      <soap:address location="http://localhost:9090/intellecteu/catalyst/convert"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>